PROJECT_ID=123 # This is the GCForms project ID in Zitadel
ZITADEL_DOMAIN=https://auth.forms-staging.cdssandbox.xyz
ZITADEL_TOKEN_URL=https://auth.forms-staging.cdssandbox.xyz/oauth/v2/token
ZITADEL_APPLICATION_KEY=YOUR_APPLICATION_KEY