name: Docker image build

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "tests/**"

jobs:
  test-docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Build Docker image
        run: docker build --platform=linux/amd64 --provenance false -t forms/api .
