name: Format, lint and test
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "22.21.1"

      - name: PNPM update to v10.25.0
        run: npm i -g corepack@latest && corepack enable pnpm && corepack use pnpm@10.25.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Format
        run: pnpm format:check

      - name: Lint:report
        continue-on-error: true
        run: pnpm lint:github

      - name: Lint
        run: pnpm lint:check

      - name: Test
        run: pnpm test
